* {margin:0;padding:0}

body {margin:0 auto}

.fix {overflow:hidden}
.header {background:#ffffff;padding:30px}
.header h2 {font-family:Source Sans Pro;font-size:44px;font-weight:bold;text-transform:uppercase;color:#34b091;text-align:center}
.header p {font-family:Source Sans Pro;font-size:18px;font-weight:light;color:#cac8c8;text-align:center}
.menu {background:#34b091}
.menu ul {width:635px;margin:0 auto;padding:0;list-style:none}
.menu ul li {float:left;display:block;padding:15px}
.menu ul li a {text-decoration:none;font-family:Source Sans Pro;font-size:16px;font-weight:bold;text-transform:uppercase;color:#ffffff;text-align:center}
.menu ul li a:hover {color:#3443b0}
.banner {margin-bottom:120px}
.banner_image {position:absolute}
.banner_text {position:relative;margin-top:130px}
.banner_text h2 {font-family:Source Sans Pro;font-size:60px;font-weight:bold;text-transform:uppercase;color:#ffffff;text-align:center;letter-spacing:10}
.banner_text h5 {font-family:Source Sans Pro;font-size:28px;font-weight:200;color:#ffffff;text-align:center;width:545px;margin:0 auto;margin-top:15px;margin-bottom:20px}
.banner_text p {text-align:center;background:#34b091;width:86px;margin:0 auto;padding:10px 20px;border-radius:30px}
.banner_text p a {font-family:Source Sans Pro;font-size:22px;font-weight:bold;text-transform:uppercase;color:#ffffff;text-decoration:none}
.row1 {background-color:#e6e6e6}
.people {width:1160px;margin:0 auto;padding-top:60px;padding-bottom:60px;border-bottom:2px solid #c9c9c9}
.single_box {float:left;background-color:#ffffff;width:260px;padding:5px;margin:0px 10px;border-radius:5px;font-family:Source Sans Pro}
.single_box img {margin-bottom:30px}
.single_box h3 {margin-left:20px;font-size:18px;color:#34b091;text-transform:uppercase}
.single_box p {margin:20px;font-size:14px;color:#888888}
.single_box h5 {margin-bottom:30px;margin-left:20px}
.single_box h5 a {font-size:12px;color:#ffffff;background-color:#34b091;padding:5px 10px;border-radius:10px;text-decoration:none;text-transform:uppercase}
.single_box h5 a:hover {background-color:#123456}
.row2 {background-color:#e6e6e6}
.row2_area {width:1160px;margin:0 auto;font-family:Source Sans Pro;margin-top:60px;padding-bottom:60px;border-bottom:2px solid #c9c9c9}
.row2-left {float:left;width:550px;padding:0px 15px}
.title {margin-bottom:40px}
.title h2 {font-size:28px;color:#454855}
.title h5 {font-size:18px;color:#454855;font-weight:normal}
.block-left {width:260px;float:left;margin-right:30px}
.block-right {width:260px;float:left}
.block {margin-bottom:30px}
.block img {}
.block-img {float:left}
.block-img img {padding:20px;border-radius:5px;background:#34b091}
.block-text {width:170px;float:right;margin-top:-70px;margin-left:30px}
.block-text h3 {font-size:18px;color:#3b3e4a;margin-bottom:10px}
.block-text p {font-size:14px;color:#888888;line-height:20px}
.row2-right {width:550px;padding:0px 15px}
.single_button {margin-bottom:10px;font-family:Source Sans Pro;color:#34b091;font-size:16px}
.para11 {background:#ffffff;padding:10px;border-radius:5px}
.para21 {background:#ffffff;padding:10px;border-radius:5px}
.para31 {background:#ffffff;padding:10px;border-radius:5px}
.para41 {background:#ffffff;padding:10px;border-radius:5px}
.plus1 {float:right;background:#34b091;color:#ffffff;font-size:20px;padding:0px 10px}
.plus2 {float:right;background:#34b091;color:#ffffff;font-size:20px;padding:0px 10px}
.plus3 {float:right;background:#34b091;color:#ffffff;font-size:20px;padding:0px 10px}
.plus4 {float:right;background:#34b091;color:#ffffff;font-size:20px;padding:0px 10px}
.para12 {background:#f0f0f0;font-size:14px;color:#989898;padding:20px;border-radius:0px 0px 5px 5px}
.para22 {background:#f0f0f0;font-size:14px;color:#989898;padding:20px;border-radius:0px 0px 5px 5px}
.para32 {background:#f0f0f0;font-size:14px;color:#989898;padding:20px;border-radius:0px 0px 5px 5px}
.para42 {background:#f0f0f0;font-size:14px;color:#989898;padding:20px;border-radius:0px 0px 5px 5px}
.minus1 {float:right;background:#ffffff;color:#34b091;font-size:22px;padding:0px 12px;margin-right:-30px}
.minus2 {float:right;background:#ffffff;color:#34b091;font-size:22px;padding:0px 12px;margin-right:-30px}
.minus3 {float:right;background:#ffffff;color:#34b091;font-size:22px;padding:0px 12px;margin-right:-30px}
.minus4 {float:right;background:#ffffff;color:#34b091;font-size:22px;padding:0px 12px;margin-right:-30px}
.active {background-color:#3b3e4a;color:#ffffff}
.row3_area{padding-top:60px;background:#e6e6e6;padding-bottom:60px}
.row3 {width:1160px;margin:0 auto}
.row3_content {width:550px;float:left;padding-left:0px 15px;font-family:Source Sans Pro}
.row3_content img {float:left;background-color:#ffffff;padding:3px;border-radius:3px;margin-right:30px}
.row3_content h3 {font-size:18px;color:#454855;margin-top:-5px;margin-bottom:25px}
.row3_content p {font-size:14px;color:#888888;line-height:20px}
.row3_content button {margin-top:25px;border:none;padding:5px 10px;border-radius:10px;background:#34b091}
.row3_content button a {color:#ffffff;text-decoration:none;text-transform:uppercase;font-size:12px;font-weight:bold}
.row3_content button:hover {background-color:#123456}
.footer_top_area {background:#3b3e4a;padding-bottom:60px}
.footer_top {width:1130px;margin:0 auto}
.single_part {float:left;margin-top:60px;margin-right:70px;font-family:Source Sans Pro}
.single_part h3 {font-size:18px;color:#ffffff;text-transform:uppercase;margin-bottom:20px}
.single_part ul {margin:0;padding:0;list-style:none}
.single_part ul li a {color:#cbcbcb;font-size:14px;line-height:25px}
.form {margin-top:10px;border:none;padding:5px;background:#454855;border-radius:30px 0px 0px 30px;color:#ffffff}
.button {background:#34b091;color:#ffffff;border:none;padding:5px;border-radius:0px 30px 30px 0px;font-size:12px;text-transform:uppercase;font-weight:bold;margin-left:-3px}
.button:hover {background:#b0a634}
.social_links li {float:left;background-color:#34b091;padding:10px;margin-right:10px;border-radius:40px}
.social_links li:hover {background-color:#b0a634}
.footer_bottom_area {background:#454855}
.footer_bottom {width:1130px;margin:0 auto;padding-top:30px;padding-bottom:30px}
.footer_bottom p {font-family:Source Sans Pro;font-size:14px;color:#34b091;float:left;margin-right:210px}
.footer_bottom p a {text-decoration:none;color:#34b091}